# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Streamlit
.streamlit/secrets.toml

# Virtual Environment
.venv
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# Dataset & Logs (Optional - keep if you want to track them)
# history_lab.csv
